@import 'tailwindcss';

:root{
  min-height: 100vh;
  min-width: 100%;
  background-color: #574964;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
